.stories {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 50px;

  .title {
    margin-bottom: 32px;
    font-size: 38px;
    line-height: 1.16;
    color: var(--23b);
    font-weight: 600;
  }

  .wr {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;

    .latest {
      border-radius: 4px;
      box-shadow: 0 5px 30px 0 rgb(35 43 54 / 15%);
      background-color: #fff;
      transition: box-shadow .2s linear, transform .2s ease-in-out;
      margin-bottom: 24px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px solid transparent;
      cursor: pointer;

      .img {
        width: 100%;
        height: 250px;
        background-position: center;
        background-size: cover;
      }
      .t1 {
        font-size: 1.25rem;
        color: var(--bb-headings-color);
        letter-spacing: -.24px;
        line-height: 1.31;
        margin: 0;
        word-break: break-word;
        padding: 10px 20px 10px 20px;
      }
      .txMain {
        padding: 0;
        font-size: 16px;
        color: var(--bb-body-text-color);
        letter-spacing: -.24px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4; /* number of lines to show */
        line-height: 20px;        /* fallback */
        max-height: 80px;       /* fallback */
        padding: 0px 20px 0px 20px;
      }

      .date {
        font-size: 14px;
        color: #9ba3af;
        line-height: 1.5;
        padding: 10px 20px 20px 20px;
      }

      &:hover {
        transform: translate(0, -10px);
        transition: transform 0.2s ease-in;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }

      &:hover .t1 {
        color: var(--c1) !important;
      }
    }
  }
}

@media (max-width: 900px) {
  .stories {
    .title {
      margin-bottom: 32px;
      font-size: 30px;
    }

    .wr {
    }
  }

}

@media (max-width: 600px) {
  .stories {
    .title {
      margin-bottom: 32px;
      font-size: 24px;
    }

    .wr {
      .latest {
        .txMain {
          padding: 0;
          font-size: 16px;
          color: var(--bb-body-text-color);
          letter-spacing: -.24px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4; /* number of lines to show */
          line-height: 20px;        /* fallback */
          max-height: 80px;       /* fallback */
          padding: 0px 20px 0px 20px;
        }
        .date {
          font-size: 14px;
          padding: 10px 20px 10px 20px;
        }
      }
    }
  }
}
