.videoSection {
  background-color: var(--239);
  margin-top: 50px;
  padding: 40px 0;

  .t1 {
    color:var(--23b);
    font-size: 36px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 24px;
    text-align: center;
  }

  .t2 {
    color: var(--23b);
    font-size: 19px;
    line-height: 1.42;
    margin-bottom: 16px !important;
    text-align: center;
  }

  .vd {
    width: 100%;
    margin-top: 50px;

    .vid {
      width: 100%;
      display: flex;
      justify-content: center;

      .player {
        width: 80% !important;
        height: 80vh !important;
      }
    }

    .box {
      width: 100%;
      background-image: url("https://d1d9oqfe9g83w6.cloudfront.net/assets/prod/images/m-bg.svg");
      background-size: cover;
      background-position: center;
      background-color: var(--white);
      padding: 20px;
      height: 100%;
      margin-top: 100px;

      .mt {
        font-size: 30px;
        line-height: 1.33;
        margin-bottom: 24px;
      }

      .steps {
        display: flex;

        .circle {
          background-color: var(--pr);
          width: 70px !important;
          height: 70px !important;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .ic {
            color: var(--white);
            font-size: 36px;
          }
        }

        .st {
          margin-bottom: 25px;
          margin-left: 30px;

          .tit1 {
            font-weight: 700;
            color: var(--pr);
            font-size: 24px;
          }

          .tit2 {
            font-size: 20px;
            color: #232b36;
            line-height: 1.5;
            font-weight: 600;
          }

        }
      }

      .tx {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 30px;
      }
    }
  }
}

@media (max-width: 800px) {
  .videoSection {
    .t1 {
      font-size: 24px;
    }
    .t2 {
      font-size: 16px;
      line-height: 1.42;
    }

    .vd {
      width: 100%;
      margin-top: 50px;

      .vid {
        width: 100%;
        display: flex;
        justify-content: center;

        .player {
          width: 100% !important;
          height: 50vh !important;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .videoSection {
    .vd {
      width: 100%;
      margin-top: 50px;

      .vid {
        width: 100%;
        display: flex;
        justify-content: center;

        .player {
          width: 100% !important;
          height: 35vh !important;
        }
      }

      .box {
        .steps {

          .circle {
            width: 50px !important;
            height: 50px !important;

            .ic {
              color: var(--white);
              font-size: 24px;
            }
          }
          .st{
            margin-left: 30px;

            .tit1 {
              font-size: 18px;
            }

            .tit2 {
              font-size: 16px;
            }
          }
        }
        .tx {
          font-size: 13px;
        }
        .mt {
          font-size: 20px;
        }
      }
    }
  }
}
