.sAll{
  margin-bottom: 200px;
  .sInfo {
    width: 100%;
    background-color: #B9DEEF42;
    padding-top: 50px;

    .title {
      font-size: 36px;
      font-weight: 500;
      color: var(--bb-headings-color);
      margin-bottom: 30px;
    }

    .cards {
      display: flex;
      gap: 30px;

      .box {
        width: 50%;

        .mi {
          width: 100%;
          .mainImg {
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: center;
          }
        }
        .title1{
          color: var(--bb-headings-color);
          font-size: 1.25rem;
          line-height: 28px;
          font-weight: bolder;
          margin-top: 20px;
        }
        .text1{
          padding: 0;
          color: rgb(77, 92, 109);
          letter-spacing: normal;
          white-space: normal;
          font-size: 16px;
          font-weight: 400;
          line-height: 25px;
          margin-top: 30px;
        }
      }
    }
  }

  .elementorShape {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
  }
}
@media (max-width: 992px) {
  .sAll{
    margin-bottom: 200px;
    .sInfo {
      width: 100%;
      background-color: #B9DEEF42;
      padding-top: 50px;

      .title {
        font-size: 24px;
      }

      .cards {
        display: flex;
        gap: 30px;
        flex-direction: column;

        .box {
          width: 100%;

          .mi {
            width: 100%;
            .mainImg {
              width: 100%;
              height: 300px;
              object-fit: cover;
              object-position: center;
            }
          }
          .title1{
            font-size: 20px;
            line-height: 28px;
          }
          .text1{
            font-size: 12px;
            margin-top: 0;
            line-height: 18px;
          }
        }
      }
    }

    .elementorShape {
      overflow: hidden;
      position: absolute;
      left: 0;
      width: 100%;
      line-height: 0;
      direction: ltr;
    }
  }
}
@media (max-width: 992px) {
  .sAll{
    .sInfo {
      .title{
        font-size: 20px;
      }
      .cards {

        .box {

          .mi {
            .mainImg {
              width: 100%;
              height: 200px;
            }
          }
        }
      }
    }
  }
}
