.reviewTeams {
  text-align: center;
  overflow: hidden !important;
  padding-bottom: 50px;
  width: 100% !important;
  max-width: 500px;
  margin: 0 auto;

  .slider {
    .cardWr {
      .card {
        background-color: var(--white);
        border: 1px solid var(--border1);
        min-height: 300px;
        max-width: 500px;

        .top {
          border-bottom: 1px solid var(--border1);
          padding: 15px;
          position: relative;

          .abs {
            position: absolute;
            top: 20px;
            right: 20px;

            .img {
              width: 40px;
              height: 40px;
              object-position: center;
              object-fit: cover;
            }

            .icon {
              font-size: 20px;

              &.fc {
                color: var(--fac);
              }
            }
          }

          .name {
            font-weight: 700;
            font-size: 16px;
            color: var(--e-global-color-kadence1);
            text-align: left;
          }

          .st {
            display: flex;
            gap: 3px;
            margin-top: 5px;

            .star {
              color: var(--star);
            }
          }
        }

        .bottom {
          padding: 15px;
          font-size: 14px;
          line-height: 20px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .reviewTeams {
    width: 100% !important;
  }
}
