.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    min-width: 300px;
  }

  .forgetPassword {
    display: flex;
    gap: 25px;
  }
}
