.wrapper {
  height: 70vh;
  z-index: 90;
  width: 100%;
  position: relative;

  .tit {
    color: var(--23b);
    font-weight: 600;
    line-height: 3.9em;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }

  .contact {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    color: var(--blueColor);
    text-shadow: 1px 1px 1px var(--blueOverlay);
    text-align: center;
  }

  .footer {
    position: relative;
    top: -50vh;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    background-color: #E7E3DE;
  }

  .left {
    border-radius: 10px;
    height: 400px;
    width: 300px;
    background-color: white;
    //top: -60vh;
    top: 25vh!important;
    position: absolute;
    left: 10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


    .inner {
      width: 90%;
      height: 300px;
      display: flex;
      flex-direction: column;
      padding-left: 30px;
      padding-top: 40px;

      .title {
        font-size: 24px;
        color: var(--black);
        font-weight: 700;

      }

      .htitle {
        padding-top: 20px;
        font-size: 16px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
      }

      .icon {
        margin-bottom: 30px;
        display: flex;
        padding-top: 20px;
        align-items: center;
        width: 70%;
        justify-content: space-between;


        .iconIn {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          -webkit-box-shadow: 1px 1px 1px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
          -moz-box-shadow: 1px 1px 1px 6px #ccc; /* Firefox 3.5 - 3.6 */
          box-shadow: 1px 3px 15px 6px #ccc;
          height: 30px;
          width: 30px;
          border-radius: 15px;
          font-size: 20px;

          &:hover {
            cursor: pointer;
          }
        }


      }

      .adress {
        padding-top: 10px;
        display: flex;

        .text {
          width: 70%;
          padding-left: 10px;
          font-size: 14px;
          letter-spacing: 0px;
          font-family: 'Roboto', sans-serif;

          .email {
            &:hover {
              cursor: pointer;
            }
          }

          .phoneNumber {
            text-decoration: none;
            color: black;

            &:hover {
              color: black;
              border-bottom: 1px solid black;
            }
          }

          &:nth-child(2) {
            padding-top: 5px;
          }
        }
      }
    }

  }
}

@media (max-width: 990px) {
  .wrapper {
    padding-top: 30px;
    .tit {
      line-height: 28px;
      font-size: 24px;
      margin-bottom: 20px;
    }
    .contact {
      font-size: 32px;
    }
  }
}

@media (max-width: 780px) {
  .wrapper {
    .contact {
      font-size: 26px;
    }

    .left {
      top: 20px;
      left: 5%;
      .inner {

      }
    }
  }
}

@media (max-width: 410px) {
  .wrapper {

    .contact {
      font-size: 20px;

      position: relative;
    }

    .footer {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }
  }
}

@media (max-width: 350px) {
  .wrapper {

    .contact {

      position: relative;
    }

    .left {

      .inner {
        width: 100%;
      }
    }

    .footer {
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
    }
  }
}
