.section1 {
  width: 100%;
  position: relative;
  background-color: #00A1EF;

  .sWr {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    padding-top: 50px;
    position: relative;

    .bgMaker {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,15,0.6) url("../../../assets/imgs/overlay.png");

      .boldtext {
        color: var(--white);
        text-align: center;
        font-size: 50px;
        line-height: 60px;
        font-weight: bold;
        text-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
        margin-top: 200px;
      }

      .sText {
        color: var(--white);
        text-align: center;
        font-size: 20px;
        line-height: 24px;
        text-shadow: 1px 1px 5px rgb(0 0 0 / 20%);
        margin-top: 30px;
      }
    }
  }

  .card {
    position: absolute;
    background-color: var(--white);
    left: 50%;
    transform: translate(-50%, 0);
    padding: 30px 50px;
    z-index: 100;
    bottom: -200px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;

    .title {
      font-weight: 700;
      font-size: 25px;
      color: var(--pr2);
    }

    .line {
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      width: 100%;
      display: inline-block;
      background-color: #e9e9e9;
      height: 1px;
    }

    .tr {
      font-size: 19px !important;
      margin-bottom: 15px;
    }

    .inputs {
      display: flex;

      .col {
        &:first-child {
          margin-right: 10px;
        }
        &:nth-child(2){
          margin-left: 10px;
        }
      }

      .sl {
        color: #62717a;
        //height: 46px;
        font-size: 17px;
        font-weight: 400;
        line-height: 1;
        width: 100%;
        letter-spacing: normal;
      }

      .to {
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        color: #62717a;
      }

      .button {
        border: none;
        font-size: 16px !important;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.3s;
        height: 40px !important;
        max-width: 300px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 6%);
        letter-spacing: normal;
        background-color: #1C87CF;
        transition: 0.3s;
        color: #fff;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        cursor: pointer;
        padding: 0 30px;
        margin-top: 30px;
      }
    }

    //&:before {
    //  content: url(//sherpaautotransport-media.s3.amazonaws.com/wp-content/uploads/2021/09/07155550/fast-forward.png);
    //  width: 64px;
    //  height: 64px;
    //  position: absolute;
    //  left: -32px;
    //  top: 31%;
    //}

    .txt {
      margin: 0;
      display: flex;
      gap: 30px;

      .t1 {
        font-size: 14px;
        color: #1a1a1a;
        font-weight: 400;
        text-align: left;

        span {
          font-weight: 600;
        }
      }

      .rd {

      }
    }
  }
}

@media (max-width: 900px) {
  .section1 {
    .sWr {
      .bgMaker {

        .boldtext {
          font-size: 36px;
          br{
            display: none;
          }
        }

        .sText {
          font-size: 16px;
          margin-top: 30px;
        }
      }
    }

    .card {
      padding: 30px 25px;
      z-index: 100;
      bottom: -260px;
      min-width: 340px !important;

      .title {
        font-size: 20px;
      }

      .tr {
        font-size: 15px !important;
        margin-bottom: 8px;
      }

      .inputs {
        display: flex;
        flex-direction: column!important;

        .col {
          &:first-child {
            margin-right: 0px;
          }
          &:nth-child(2){
            margin-left: 0px;
          }
        }

        .button {
          width: 100%;
          max-width: unset;
          margin-left: 0;
          margin-top: 20px;
        }

        .to {
          margin: 10px 0;
        }
      }

      &:before {
        display: none;
      }

      .txt {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}

@media (max-width: 600px) {
  .section1 {
    .sWr {
      .bgMaker {

        .boldtext {
          font-size: 25px;
          margin-top: 100px;
          line-height: 27px;
        }

        .sText {
          font-size: 16px;
          margin-top: 15px;

          br {
            display: none;
          }
        }
      }
    }

    .card {
      padding: 20px 25px;
      z-index: 100;
      bottom: -260px;
      min-width: 340px !important;

      .title {
        font-size: 20px;
        font-weight: 600;
        line-height: 22px;
      }


      .inputs {
        display: flex;
        flex-direction: column;


        .button {
          width: 100%;
          max-width: unset;
          margin-left: 0;
          margin-top: 20px;
        }

        .to {
          margin: 10px 0;
        }
      }

      &:before {
        display: none;
      }

      .txt {
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
    }
  }
}
