.wrQuoteSp {
  width: 100%;

  .quoteWr {
    width: 100%;
    height: 60vh;
    background: url("../../../assets/imgs/quote.jpg");
    background-size: cover;
    background-position: center;

    .quoteBanner {
      background-color: rgba(29, 35, 63, .6);
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--white);
      font-size: 40px;
    }
  }

  .frq {
    box-shadow: 1px 3px 8px 3px #ccc;
    padding-bottom: 50px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;

    .tit {
      color: #fff;
      background-color: #1e243f;
      width: 100%;
      line-height: 10vh;
      text-align: center;
      height: 10vh;
      font-size: 32px;
      font-weight: 500;
      font-family: Roboto, sans-serif;
    }

    .sdrt {
      width: 100%;
      padding: 30px;

      .phoneInp {
        //padding: 10px 20px;
        outline: none;
        width: 100%;
        color: var(--black);
        font-family: var(--neue__regular);
        background-color: white;
        //padding: 4px 11px;
        box-sizing: border-box;

        input {
          border: 1px solid #d9d9d9;
          padding: 4px 11px;
          color: rgba(0, 0, 0, 0.85);
          font-size: 14px;
          line-height: 1.5715;
          height: 40px !important;
          box-sizing: border-box;
          border-radius: 2px;
          transition: all 0.3s;
          outline: none;

          &:hover{
            border-color: #40a9ff!important;
            border-right-width: 1px;
          }
          &:focus{
            border-color: #40a9ff!important;
            border-right-width: 1px;
            -webkit-box-shadow: 0 0 4px var(--c1);
            box-shadow: 0 0 4px var(--c1);
          }
          &.errI{
            border-color: #ff4d4f!important;
          }
        }

        &:hover {
          border: 1px solid var(--office);
        }

        &:focus {
          border: 1px solid var(--office);
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .wrQuoteSp {

    .quoteWr {
      height: 40vh;

      .quoteBanner {
        height: 40vh;
        font-size: 25px;
      }
    }

    .frq {
      .sdrt {
        padding: 10px;
      }
    }
  }
}
