.textSection {
  margin-top: 50px;
  padding-bottom: 50px;

  .iancard {
    display: flex;

    &:first-child {
      align-items: center;
    }

    .iwr {
      width: 60%;

      img {
        width: 90%;
        border-radius: 5px;
      }

      .title {
        margin-top: 30px;
        font-size: 16px;
        color: var(--header-text);
        width: 90%;
      }

      .body {
        font-size: 16px;
        color: var(--header-text);
        margin-top: 20px;
        width: 90%;
      }
    }

    .cwr {
      width: 40%;

      .t12 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        color: var(--bb-headings-color);
        text-align: center;
        margin-top: 40px;
      }

      .posts {

        ul {
          list-style: none;

          li {
            .lit {
              font-size: 20px;
              font-weight: 600;
              text-transform: uppercase;
              color: var(--bb-headings-color);
              margin-top: 40px;
              text-align: start;

              &:hover {
                color: var(--bb-primary-color);
                cursor: pointer;
              }
            }

            .lid {
              color: var(--bb-alternate-text-color);
              line-height: 1.3em;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .textSection {
    margin-top: 50px;
    padding-bottom: 50px;

    .iancard {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        .cwr {
          max-width: 400px;
          margin-top: 50px;
        }
      }

      .cwr {
        width: 100%;
      }

      .iwr {
        width: 100%;

        .body {
          width: 95%;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .textSection {
    margin-top: 50px;
    padding-bottom: 50px;

    .iancard {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        .cwr {
          max-width: 400px;
          margin-top: 50px;
        }
      }

      .cwr {
        width: 100%;

        .posts {
          ul {

            li {
              .lit {
                font-size: 16px;
                margin-top: 40px;

              }

              .lid {
                font-size: 12px;
              }
            }
          }
        }
      }

      .iwr {
        width: 100%;

        img {
          width: 100%;
        }

        .title {
          font-size: 18px;
          width: 100%;
        }

        .body {
          font-size: 12px;
          width: 100%;
        }
      }
    }
  }
}
