.successPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0px;
  margin-bottom: 50px;

  .imgwr {
    width: 60%;
    margin-top: 50px;

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }

  .ct {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    .th {
      font-size: 45px;
      color: var(--pr);
    }

    .t1 {
      color: var(--ts);
      font-size: 20px;
    }

    .tr {
      font-size: 16px;
      margin-top: 10px;
      color: var(--23b);
    }
  }
}

@media (max-width: 992px) {
  .successPage {
    .imgwr {
      width: 90%;
      margin-top: 50px;

      img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
      }
    }

    .ct {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 40px;

      .th {
        font-size: 30px;
        color: var(--pr);
      }

      .t1 {
        color: var(--ts);
        font-size: 18px;
        text-align: center !important;
        width: 100%;
      }

      .tr {
        font-size: 14px;
        margin-top: 10px;
        color: var(--23b);
        text-align: center !important;
      }
    }
  }
}

@media (max-width: 500px) {
  .successPage {
    .imgwr {
      img {
        height: 200px;
      }
    }
  }
}
