.header {
  box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 15%);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 999;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  background-color: var(--white);

  .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {

      .img {
        width: 146px;
      }
    }

    .pages {
      display: flex;
      align-items: center;
      height: 100%;

      .lk {
        height: calc(100% - 3px);

        .link {
          height: calc(100% - 3px);
          display: inline-block;
          align-items: center;
          padding: 0 12px;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          letter-spacing: 2.5px;
          color: var(--header-text);
          background-size: 0% 3px, 100% 3px; /* we make the top one 0% width */
          background-position: bottom left;
          background-repeat: no-repeat;
          transition: 0.5s;
          vertical-align: middle;
          position: relative;

          .lk {

          }

          &:after {
            display: block;
            content: '';
            border-bottom: solid 3px var(--pr);
            transform: scaleX(0) scaleY(1);
            transition: transform 250ms ease-in-out;
            width: 100% !important;
          }

          &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: calc(100% - 3px);
            background-color: var(--pr);
          }

          &:hover {
            background-size: 100% 3px;
            cursor: pointer;
          }

          &:hover:after {
            transform: scaleX(1);
            transform-origin: 0% 50%;
          }
        }
      }
    }


    .quote {
      display: flex;
      align-items: center;
      justify-content: center;
      .glowOnHover {
        width: fit-content;
        padding: 10px 35px;
        font-size: 16px;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 50%;
      }

      .glowOnHover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
      }

      .glowOnHover:active {
        color: #000
      }

      .glowOnHover:active:after {
        background: transparent;
      }

      .glowOnHover:hover:before {
        opacity: 1;
      }

      .glowOnHover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--primary);
        left: 0;
        top: 0;
        border-radius: 10px;
        font-weight: 700;
      }

      @keyframes glowing {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
    }
    .menu{
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .header {
    .content {
      .logo {

        .img {
          width: 120px;
        }
      }

      .pages {
        display: none;
      }

      .quote {
        display: none;
      }

      .menu {
        display: block;
        .icon {
          font-size: 27px;
        }
      }
    }
  }
}
