.reviews {
  margin-top: 250px;
  text-align: center;
  overflow: hidden !important;
  padding-bottom: 50px;

  .title {
    color: var(--23b);
    font-size: 34px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.6px;
  }

  .slider {
    margin-top: 40px;

    .cardWr {
      padding: 0 20px 0 0;

      .card {
        background-color: var(--white);
        border: 1px solid var(--border1);
        min-height: 300px;


        .top {
          border-bottom: 1px solid var(--border1);
          padding: 15px;
          position: relative;

          .abs {
            position: absolute;
            top: 20px;
            right: 20px;

            .img {
              width: 40px;
              height: 40px;
              object-position: center;
              object-fit: cover;
            }

            .icon {
              font-size: 20px;

              &.fc {
                color: var(--fac);
              }
            }
          }

          .name {
            font-weight: 700;
            font-size: 16px;
            color: var(--e-global-color-kadence1);
            text-align: left;
          }

          .st {
            display: flex;
            gap: 3px;
            margin-top: 5px;

            .star {
              color: var(--star);
            }
          }
        }

        .bottom {
          padding: 15px;
          font-size: 14px;
          line-height: 20px;
          text-align: left;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .reviews {
    margin-top: 300px;
    width: 100% !important;

    .title {
      font-size: 24px;
    }
  }
}


@media (max-width: 600px) {
  .reviews {
    .slider {
      .cardWr {
        padding: 0;
      }
    }
  }
}
