.blogs {
  padding-top: 90px;

  .title {
    font-size: 36px;
    color: var(--pr);
    margin-top: 30px;
    font-weight: 600;
  }
}
@media (max-width: 600px) {
  .blogs {

    .title {
      font-size: 24px;
    }
  }
}
