.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px !important;
  transition: left 0.3s ease;
  background-color: var(--239);
  z-index: 1000000;
  height: 100vh;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;

  &.active {
    left: 0;
  }

  .sio {
    .lg {
      img {
        width: 100px !important;
      }
    }

    ul {
      list-style: none;
      padding-top: 20px;

      li {
        margin-bottom: 4px;
        letter-spacing: 1.5px;
        border-bottom: 1px solid var(--88);
        padding: 4px 0;
        color: var(--23b) !important;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          color: var(--e-global-color-kadence1) !important;
        }
      }
    }
    .ntr {
      list-style: none;
      padding-top: 20px;

      li {
        margin-bottom: 4px;
        letter-spacing: 1.5px;
        border-bottom: none;
        padding: 4px 0;
        text-align: center;

        a {
          color: var(--23b) !important;
          font-size: 12px;
          text-transform: uppercase;
          text-align: center;

          &:hover {
            color: var(--e-global-color-kadence1) !important;
          }
        }
      }
    }

    .bt {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;

      .glowOnHover {
        width: fit-content;
        padding: 10px 35px;
        font-size: 16px;
        border: none;
        outline: none;
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 50%;
      }

      .glowOnHover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
      }

      .glowOnHover:active {
        color: #000
      }

      .glowOnHover:active:after {
        background: transparent;
      }

      .glowOnHover:hover:before {
        opacity: 1;
      }

      .glowOnHover:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--primary);
        left: 0;
        top: 0;
        border-radius: 10px;
        font-weight: 700;
      }

      @keyframes glowing {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
    }
    .tel{
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: center!important;
      align-items: center!important;
      padding: 8px 0;
      color: var(--pr);
      border: 1px solid var(--pr);
      cursor: pointer;
      a{
        text-align: center;
        text-decoration: none;
        color: var(--pr);
      }
    }
  }
}
