@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.pd {
  max-width: 1200px;
  margin: 0 auto;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 100% !important;
  min-width: 250px !important;
  display: flex !important;
  align-items: center !important;
}

.ant-select {
  height: 40px !important;
  width: 100% !important;
  min-width: 250px !important;
}

.ant-input {
  height: 40px !important;
  width: 100% !important;
  min-width: 250px !important;
}

.ant-picker {
  width: 100% !important;
  height: 40px !important;
  min-width: 250px !important;
}

.bgi {
  height: 25px;
}

.mlr20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}

.sidebar-logo {
  height: 32px !important;
  margin: 16px !important;
  background: rgba(255, 255, 255, 0.3) !important;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.site-layout .site-layout-background {
  background: #fff;
  padding: 24px;
}

.mHeader {
  background: #fff !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.t-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

.wrapperClassName {
  width: 100%;
  margin-inline: auto;
  border: 1px solid #d9d9d9;
}

.editorClassName {
  height: 400px !important;
}

.alce {
  display: flex;
  align-items: center;
}

.brc {
  width: 100%;
  background-color: green;
}

.w100 {
  width: 100% !important;
}

.bgfd {
  width: 150px;
  cursor: pointer;
}

.ant-col {
  width: 100% !important;
}

.PhoneInputCountry {
  display: none !important;
}

.cel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.e-button {
  width: 100% !important;
}

.lres {
  margin-bottom: 20px;
}
.countdown-link{
  display: flex;
}
@media (max-width: 1300px) {
  .pd {
    padding: 0 5%;
  }
}

@media (max-width: 992px) {
  .mlr20 {
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
    width: 100%;
  }
}
